<button class="btn btn-outline-dark m-3" style="float: left" (click)="goBack()">Back</button>
<div class="container p-3">
  <div class="row">
    <div class="col-4">
      <img class="img-fluid img-thumbnail" [src]="videoGame?.mainImage" alt="Image not delivered">
    </div>
    <div class="col-8">
      <div class="row">
        <p class="fs-1 fw-bold">
          {{ videoGame?.title }}
        </p>
      </div>
      <div class="row">
        <p class="fs-3">
          <span class="fw-bold">Developer: </span>
          {{ videoGame?.developer?.name }}
        </p>
      </div>
      <div class="row">
        <p class="fs-3">
          <span class="fw-bold">Genres: </span>
          <span *ngFor="let genre of videoGame?.genres; let i = index">
            {{ i + 1 !== videoGame?.genres?.length ? genre.name + ', ' : genre.name}}
          </span>
        </p>
      </div>
      <div class="row">
        <p class="fs-3">
          <span class="fw-bold">Platforms: </span>
          <span *ngFor="let platform of videoGame?.platforms; let i = index">
            {{ i + 1 !== videoGame?.platforms?.length ? platform.name + ', ' : platform.name}}
          </span>
        </p>
      </div>
      <div class="row">
        <p class="fs-6">{{ videoGame?.description }}</p>
      </div>
    </div>
  </div>
</div>
