<div class="container p-3">
  <div class="row">
    <div class="col-4">
      <img src="https://cdn.cdkeys.com/700x700/media/catalog/product/e/l/elden_ring_deluxe_edition_xbox_one_xbox_series_x_s_uk__1_1_1_1.jpg" class="img-fluid img-thumbnail">
    </div>
    <div class="col-8">
      <div class="row">
        <p class="fs-1 fw-bold">Elden Ring</p>
      </div>
      <div class="row">
        <p class="fs-3">Developer: From Software</p>
      </div>
      <div class="row">
        <p class="fs-3">Publisher: From Software</p>
      </div>
      <div class="row">
        <p class="fs-3">Genres: RPG, Action, Open World</p>
      </div>
      <div class="row">
        <p class="fs-3">Platforms: PC, PS5, Xbox X</p>
      </div>
      <div class="row">
        <p class="fs-6">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
          voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
          voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
          velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
          commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
          consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      </div>
    </div>
  </div>
</div>
